<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Vue Basics</h1>
    <div id="app">
        <h2>{{title}}</h2>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <hr>
        <div v-for="(ninja, index) in ninjas">
            <p><strong>{{index}} - {{ninja.name}}</strong><br/>
            Age: {{ninja.age}}<br/>
            Belt: {{ninja.belt}}
            </p>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>